
			input{
				width:90%; 
				margin-left:5%; 
				margin-bottom:5px; 
			} 
			div{
				border:1px solid black;
				height:240px;
				width:32.1%;
				margin:0.1%;
				float:left;
			}
			div:first-child{
				margin-left:0.5%;
			}
			h3{
				text-align:center;
			}
			h4{
				text-align:center;
			}
			button{
				width:90%;
				margin-left:5%;
			}
			.content{
				width:97%;
				height:30%;
				margin-left:0.5%
			} 